{% extends "base.html" %}
{% block content %}
  <body>
    {% for j in category %}
      {% for i in item %}
        <p>Drink Information:</p>
        {{ i.itemName }}
        <br>
        {{ i.itemDesc }}
        <br>
        <a href='{{url_for('editItem', categoryId = j.categoryId, itemId = i.itemId)}}'>Edit Item</a>
        <br>
        <a href='{{url_for('deleteItem', categoryId = j.categoryId, itemId = i.itemId)}}'>Delete Item</a>
        <br>
      {% endfor %}
    {% endfor %}
  </body>
{% endblock %}
